
$background-color: #fff;
$brown: #885522;
$orange: #dd6611;
$orange-dark: #dd4411;
$orange-light: #ffccbb;
$sand: #ddccaa;
$red: #dd2244;
$red-dark: #bb2244;
$blue-light: #aaddff;
$blue: #2244ee;
$gray: #707070;
$gray-light: #eee;
$green-dark: #006622;
$green: #33cc66;
$green-light: #bbff99;
$sand-dark: #776644;
$turquoise: #11aabb;   
$yellow-light: #fffe99;
$blue-light: #aaffff;
$grey-light: #ddd;

$default-font: "Roboto", sans-serif;
$monospace: "IBM Plex Mono", monospace;

html {
  color: #222;
  font-size: 18px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $background-color;
  font-family: $default-font;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

main {
  max-width: 68em;
  margin: 0 auto;
  padding: 0 1rem;
}

nav {
  background-color: $gray-light;
  padding: 1rem 1rem;
}

footer {
  background-color: $gray-light;
  padding: 1rem 1rem;
}

a {
  transition: background-color ease-out 0.1s;
  text-decoration: none;
  border-radius: 6px;
  color: #222;
  padding: 0.12em 0.25em;
  margin: -0.12em -0.25em;
  &:hover {
    background-color: $yellow-light;
  }
}

p a {
  text-decoration: underline;
  text-decoration-color: $red;
  text-decoration-thickness: 2px;
}

a svg {
  color: $red;
  vertical-align: top;
}

::-moz-selection {
  background: $yellow-light;
  text-shadow: none;
}

::selection {
  background: $yellow-light;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

section {
  margin: 3rem 0
}

.icon-home {
  vertical-align: top;
}

.link-home {
  padding: 0.25rem;
}

footer,
footer p {
  font-size: 0.8rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin: 1em -1em;
}

.video-wrapper iframe {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
